:root {
    --main-text-c: #000000;
    --side-text-c: grey;
    --main-clickable-c: darkgrey;
    --main-clickable-h-c: black;
    --main-clickable-v-c: darkgrey;

    max-width: 60em;        /* if it's in landscape */
    margin: 20px auto;
    padding: 0px 50px;

    font-family: "dcRoboto", Helvetica, sans-serif;
}

@media only screen and ((max-width: 500px) or (orientation: portrait)) {
    :root {
        width: 90%;
        margin: 20px auto;
        padding: 0px 10px;
    }
}

/* Navbar Component */

.navbar {
    display: flex;
}

.navbar a {
    font-weight: bolder;
    color: var(--main-clickable-c);
    text-decoration: none;
    margin: auto;
}

.navbar a:visited {
    color: var(--main-clickable-c);
    text-decoration: none;
}

.navbar a:hover {
    color: var(--main-clickable-h-c);
    text-decoration: none;
}



/* Footer Component */

.footer {
    text-align: center;
}

.footer p {
    color: var(--side-text-c);
}

/* Main class for each page */

.main {
    border-radius: 50px;
    box-shadow: -10px 20px 30px #BBBBBBBB;
    overflow: hidden;
    padding: 50px 50px;
    margin: 50px 0px;
}

@media only screen and ((max-width: 1079px) or (orientation: portrait)) {
    .main {
        border-radius: 0px;
        box-shadow: 0px 0px 0px #FFFFFF;
        padding: 0px 0px;
        margin: 0px 0px;
        width: 100%;
    }
}

/* Blog */

.blog-flex-wrapper {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex-shrink: 0;
    width: 25%;
    margin: 30px 0px;
}

.blog-main-wrapper {
    width: 75%;
}

@media only screen and ((max-width: 1079px) or (orientation: portrait)) {
    .blog-flex-wrapper {
        display: inline;
        flex-direction: row;
        width: 100%;
    }

    .blog-main-wrapper {
        width: 100%;
    }

    .sidebar {
        position: static;
        display: block;
        margin: 10px 10px;
    }
}

.padded-dir {
    padding-left: 1em;
}


