:root {
    --main-text-c: #222222;
    --side-text-c: #888888;
    --main-clickable-c: #8888CC;
    --main-clickable-h-c: #000044;
    --main-clickable-v-c: #555599;

    max-width: 60em;        /* if it's in landscape */
    margin: 20px auto;
    padding: 0px 50px;

    font-family: "dcRoboto", Helvetica, sans-serif;
    color: var(--main-text-c);
}

@media only screen and ((max-width: 500px) or (orientation: portrait)) {
    :root {
        width: 90%;
        margin: 20px auto;
        padding: 0px 10px;
    }
}

/* Navbar Component */

.navbar {
    display: flex;
}

.navbar a {
    font-weight: bolder;
    color: #888888;
    text-decoration: none;
    margin: auto;
}

.navbar a:visited {
    color: #888888;
    text-decoration: none;
}

.navbar a:hover {
    color: #000000;
    text-decoration: none;
}



/* Footer Component */

.footer {
    text-align: center;
}

.footer p {
    color: var(--side-text-c);
}

/* Main class for each page */

.main {
    border-radius: 50px;
    box-shadow: -10px 20px 30px #BBBBBBBB;
    overflow: hidden;
    padding: 50px 50px;
    margin: 50px 0px;
}

.main :first-child {
    margin-top: 0px;
}

.main :last-child {
    margin-bottom: 0px;
}

@media only screen and ((max-width: 1079px) or (orientation: portrait)) {
    .main {
        border-radius: 0px;
        box-shadow: 0px 0px 0px #FFFFFF;
        padding: 0px 0px;
        margin: 0px 0px;
        width: 100%;
    }
    
    .main :first-child {
        margin-top: revert;
    }

    .main :last-child {
        margin-bottom: revert;
    }

}

.main a {
    font-weight: bolder;
    color: var(--main-clickable-c);
    text-decoration: none;
    margin: auto;
}

.main a:visited {
    color: var(--main-clickable-v-c);
    text-decoration: none;
}

.main a:hover {
    color: var(--main-clickable-h-c);
    text-decoration: none;
}


/* Blog */

.blog-flex-wrapper {
    display: flex;
    flex-direction: row;
}

.sidebar {
    flex-shrink: 0;
    width: 25%;
    margin: 30px 0px;
    font-size: 0.9em;
}

.blog-main-wrapper {
    width: 75%;
}

@media only screen and ((max-width: 1079px) or (orientation: portrait)) {
    .blog-flex-wrapper {
        display: inline;
        flex-direction: row;
        width: 100%;
    }

    .blog-main-wrapper {
        width: 100%;
    }

    .sidebar {
        position: static;
        display: block;
        margin: 10px 10px;
        width: 100%;
    }
}

.padded-dir {
    padding-left: 1em;
}

/* Portfolio */
.proj-image {
    float: right;
    width: 15em;
    height: auto;
    image-rendering: pixelated;

    margin-left: 3em;

    box-shadow: -10px 10px 15px #BBBBBBBB;
    overflow: hidden;

    border-width: 1px;
    border-color: #EEE;
    border-radius: 20px;
    border-style: solid;
}
