<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shaiya. J's website</title>
    <script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="./global.css">
</head>
<body>
    <!-- loading navbar -->
    <div id="navbar" class="navbar"
        hx-get="/components/navbar.html"
        hx-target="#navbar"
        hx-swap="innerHTML"
        hx-trigger="load once"
    ></div>

    <!-- main content -->
    <div class="main">
        <h2>About me</h2>
        <p>I'm a hobbyist programmer who is focused on creating software - both high and low level. I intend this website to complement my Github - with my portfolio and blog providing a formal presentation and informal musings on my past projects.</p>
    </div>

    <!-- loading footer -->
    <div id="footer" class="footer"
        hx-get="/components/footer.html"
        hx-target="#footer"
        hx-swap="innerHTML"
        hx-trigger="load once"
    ></div>
</body>
</html>
